# -*- config=utf-8 -*-
"""
    This is the example configuration file. This file is user specific. Copy 
    this file as config.py and replace placeholder text.

"""

SQLALCHEMY_DATABASE_URI = 'postgresql://username:password@localhost/database_name'
