.containerImage {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.image {
  opacity: 1;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.containerImage:hover .image {
  opacity: 0.3;
}

.containerImage:hover .middle {
  opacity: 1;
}